
// .whitetxt{color: white}
// .bigblackborder{border: 2.5px solid black}

$lightgrey: #e6e6e6;
$middlegrey: #888888;
$blue: #3e11df;
$yellow: #f8e10e;
$red: #d43114;
$black: #000000;
$blank: transparent;
$white: #ffffff;


