<div class="grid-container flexcenter">
    <h1>Create your own Mondriaan painting!</h1>
    <div class="flexbetween">
        <button class="btn-default btn" ng-click="setBlank()">Start with blank canvas</button>
        <button class="btn-default btn" ng-click="setOriginal()">Start with original canvas</button>
    </div>
    <div class="paintbrush-container flexcenter">
        <span ng-switch="colorSetting">
            <h2 ng-switch-when="">pick a color!</h2>
            <!-- changed from <i> to <span> because of linter, CSS not checked -->
            <span ng-switch-default class="material-icons bucket-icon" ng-class="colorSetting">format_color_fill</span>
        </span>
        <div class="paint-btn-container flexcenter">
            <button ng-repeat="button in buttons" class="paint-btn flexcenter " ng-class="button.bc" ng-click="setColor(button.bc)" ng-style="{'color': button.tc}">
                <!-- changed from <i> to <span> because of linter, CSS not checked -->
                <span class="material-icons paint-icon">format_paint</span>{{button.bc}}</button>
        </div>
    </div>

    <div class="grid bigblackborder">
        <span class="bigblackborder" ng-repeat="box in boxes" ng-class="colorDecider(box)" ng-style="{'grid-area': box.grid}" ng-click="setBoxColor(box)"></span>
    </div>
</div>