<div class="grid-container">
        <h1 class="text-center">Color your own Mondriaan</h1>
        <div class="button-container"> 
            <button class="btn-default btn" ng-click="setBlank()">Start blank</button>
            <button class="btn-default btn" ng-click="setOriginal()">Start with original</button>
        </div>
        <div class="button-container">
            <button class="paint-btn blank" ng-click="setColor('blank')"><i class="material-icons paint-icon">format_paint</i>blank</button>
            <button class="paint-btn lightgrey" ng-click="setColor('lightgrey')"><i class="material-icons paint-icon">format_paint</i>grey</button>
            <button class="paint-btn yellow" ng-click="setColor('yellow')"><i class="material-icons paint-icon">format_paint</i>yellow</button>
            <button class="paint-btn red whitetxt" ng-click="setColor('red')"><i class="material-icons paint-icon">format_paint</i>red</button>
            <button class="paint-btn blue whitetxt" ng-click="setColor('blue')"><i class="material-icons paint-icon">format_paint</i>blue</button>
            <button class="paint-btn black whitetxt" ng-click="setColor('black')"><i class="material-icons paint-icon">format_paint</i>black</button>
        </div>
        <div class="selected-color" ng-class="colorSetting">
            paintbrush color
        </div>

    <div class="grid bigblackborder">
        <span class="bigblackborder {{ original && !boxesSettings[box.name] ?  box.defaultColor : '' }} " ng-class="{'blank': startBlank && !boxesSettings[box.name]}" ng-repeat="box in boxes" ng-style="{'grid-area': box.grid}" ng-click="setBoxColor(box.name, colorSetting)"></span>
    <!-- <span class="{{boxesSettings.box01}}" ng-click="setBoxColor('box01', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box01, 'lightgrey': original  && !boxesSettings.box01}"></span> -->



        <!-- <span class="box01 bigblackborder {{boxesSettings.box01}}" ng-click="setBoxColor('box01', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box01, 'lightgrey': original  && !boxesSettings.box01}"></span> -->
        <!-- <span class="box02 bigblackborder {{boxesSettings.box02}}" ng-click="setBoxColor('box02', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box02, 'lightgrey': original  && !boxesSettings.box02}"></span>
        <span class="box03 bigblackborder {{boxesSettings.box03}}" ng-click="setBoxColor('box03', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box03, 'blue': original && !boxesSettings.box03}"></span>
        <span class="box04 bigblackborder {{boxesSettings.box04}}" ng-click="setBoxColor('box04', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box04, 'lightgrey': original  && !boxesSettings.box04}"></span>
        <span class="box05 bigblackborder {{boxesSettings.box05}}" ng-click="setBoxColor('box05', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box05, 'lightgrey': original  && !boxesSettings.box05}"></span>
        <span class="box06 bigblackborder {{boxesSettings.box06}}" ng-click="setBoxColor('box06', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box06, 'blue': original && !boxesSettings.box06}"></span>
        <span class="box07 bigblackborder {{boxesSettings.box07}}" ng-click="setBoxColor('box07', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box07, 'lightgrey': original  && !boxesSettings.box07}"></span>
        <span class="box08 bigblackborder {{boxesSettings.box08}}" ng-click="setBoxColor('box08', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box08, 'yellow': original  && !boxesSettings.box08}"></span>
        <span class="box09 bigblackborder {{boxesSettings.box09}}" ng-click="setBoxColor('box09', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box09, 'black': original  && !boxesSettings.box09}"></span>
        <span class="box10 bigblackborder {{boxesSettings.box10}}" ng-click="setBoxColor('box10', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box10, 'lightgrey': original  && !boxesSettings.box10}"></span>
        <span class="box11 bigblackborder {{boxesSettings.box11}}" ng-click="setBoxColor('box11', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box11, 'black': original && !boxesSettings.box11}"></span>
        <span class="box12 bigblackborder {{boxesSettings.box12}}" ng-click="setBoxColor('box12', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box12, 'lightgrey': original  && !boxesSettings.box12}"></span>
        <span class="box13 bigblackborder {{boxesSettings.box13}}" ng-click="setBoxColor('box13', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box13, 'lightgrey': original  && !boxesSettings.box13}"></span>
        <span class="box14 bigblackborder {{boxesSettings.box14}}" ng-click="setBoxColor('box14', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box14, 'yellow': original  && !boxesSettings.box14}"></span>
        <span class="box15 bigblackborder {{boxesSettings.box15}}" ng-click="setBoxColor('box15', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box15, 'red': original && !boxesSettings.box15}"></span>
        <span class="box16 bigblackborder {{boxesSettings.box16}}" ng-click="setBoxColor('box16', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box16, 'red': original  && !boxesSettings.box16}"></span>
        <span class="box17 bigblackborder {{boxesSettings.box17}}" ng-click="setBoxColor('box17', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box17, 'yellow': original  && !boxesSettings.box17}"></span>
        <span class="box18 bigblackborder {{boxesSettings.box18}}" ng-click="setBoxColor('box18', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box18, 'red': original && !boxesSettings.box18}"></span>
        <span class="box19 bigblackborder {{boxesSettings.box19}}" ng-click="setBoxColor('box19', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box19, 'blue': original  && !boxesSettings.box19}"></span>
        <span class="box20 bigblackborder {{boxesSettings.box20}}" ng-click="setBoxColor('box20', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box20, 'lightgrey': original  && !boxesSettings.box20}"></span>
        <span class="box21 bigblackborder {{boxesSettings.box21}}" ng-click="setBoxColor('box21', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box21, 'lightgrey': original  && !boxesSettings.box21}"></span>
        <span class="box22 bigblackborder {{boxesSettings.box22}}" ng-click="setBoxColor('box22', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box22, 'black': original && !boxesSettings.box22}"></span>
        <span class="box23 bigblackborder {{boxesSettings.box23}}" ng-click="setBoxColor('box23', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box23, 'lightgrey': original  && !boxesSettings.box23}"></span>
        <span class="box24 bigblackborder {{boxesSettings.box24}}" ng-click="setBoxColor('box24', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box24, 'red': original && !boxesSettings.box24}"></span>
        <span class="box25 bigblackborder {{boxesSettings.box25}}" ng-click="setBoxColor('box25', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box25, 'yellow': original  && !boxesSettings.box25}"></span>
        <span class="box26 bigblackborder {{boxesSettings.box26}}" ng-click="setBoxColor('box26', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box26, 'lightgrey': original  && !boxesSettings.box26}"></span>
        <span class="box27 bigblackborder {{boxesSettings.box27}}" ng-click="setBoxColor('box27', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box27, 'lightgrey': original  && !boxesSettings.box27}"></span>
        <span class="box28 bigblackborder {{boxesSettings.box28}}" ng-click="setBoxColor('box28', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box28, 'blue': original && !boxesSettings.box28}"></span>
        <span class="box29 bigblackborder {{boxesSettings.box29}}" ng-click="setBoxColor('box29', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box29, 'yellow': original  && !boxesSettings.box29}"></span>
        <span class="box30 bigblackborder {{boxesSettings.box30}}" ng-click="setBoxColor('box30', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box30, 'lightgrey': original  && !boxesSettings.box30}"></span>
        <span class="box31 bigblackborder {{boxesSettings.box31}}" ng-click="setBoxColor('box31', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box31, 'lightgrey': original  && !boxesSettings.box31}"></span>
        <span class="box32 bigblackborder {{boxesSettings.box32}}" ng-click="setBoxColor('box32', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box32, 'red': original && !boxesSettings.box32}"></span>
        <span class="box33 bigblackborder {{boxesSettings.box33}}" ng-click="setBoxColor('box33', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box33, 'black': original  && !boxesSettings.box33}"></span>
        <span class="box34 bigblackborder {{boxesSettings.box34}}" ng-click="setBoxColor('box34', colorSetting)" ng-class="{'blank': startBlank && !boxesSettings.box34, 'lightgrey': original  && !boxesSettings.box34}"></span> -->
    </div>
</div>