*{
    font-family: 'Source Sans Pro', sans-serif;
}
/* GENERAL COLORS */
.lightgrey{
    background-color: #e6e6e6;
}

.blue{
    background-color: #3e11df;
}

.yellow{
    background-color: #f8e10e;
}

.red{
    background-color: #d43114;
}

.black{
    background-color: black;
}

.blank{
    background-color: transparent;
}

.whitetxt{
    color: white;
}

/* BUTTONS */
.button-container{
    display: flex;
    justify-content: space-between;
}

.btn{
    font-size: 14px;
    height: 50px;
    width: 150px;
    margin: 10px;
}

.paint-btn{
    height: 40px;
    width: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paint-btn:hover{
    border: 3px solid rgb(59, 59, 59);
}

.paint-icon{
    font-size: 14px;
    margin: 0 5px;
}

/* GRID */
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: 45px 90px 45px 45px 60px 45px 60px 45px 90px 60px 45px 45px 45px;
    grid-template-rows: 30px 60px 150px 60px 120px 30px 60px;
    margin: 50px;
    width: 725px;
}

.bigblackborder{
    border: 2.5px solid black
}

/* COLOR SETTING */

.selected-color{
    border: 1px solid #e6e6e6;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
